<% layout('layouts/boilerplate')%>
<div id="cluster-map" class= "card mb-3"></div>
<div class="container">
    <% for (let campground of campgrounds){%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <%if(campground.images.length) {%>
                <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %> </h5>

                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <!-- Code block for pagination -->
    <nav aria-label="Page navigation">
        <% if (pages && pages > 0) { %>
        <ul class="pagination justify-content-center">
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
            <li><a class="page-link" href="/campgrounds">First</a></li>
            <% } %>
     
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">«</a></li>
            <% } else { %>
            <li><a class="page-link" href="/campgrounds?page=<%= Number(current) - 1 %>">«</a></li>
            <% } %>
     
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
            <li class="active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
            <li><a class="page-link" href="/campgrounds?page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% } %>
     
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">»</a></li>
            <% } else { %>
            <li><a class="page-link" href="/campgrounds?page=<%= Number(current) + 1 %>">»</a></li>
            <% } %>
     
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
            <li><a class="page-link" href="/campgrounds?page=<%= pages %>">Last</a></li>
            <% } %>
        </ul>
        <% } %>
    </nav>
</div>

<!-- Script for Mapbox interactive Map -->
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>'; // Gets token from .env
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/javascripts/clusterMap.js"></script>